body {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#text {
    justify-content: center;
    top: 0px;
    margin: 0 auto;
    height: 120px;
    width: 250px;

}

h2  {
    position: center;
    text-align: center;
    font-family: "Helvetica Neue";
}

#container {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 600px;
    border-bottom-style: solid;
    border-top-style: dotted;
    border-color: blue;
    animation-play-state: paused;
}

#cube {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 180px;
    left: 290px;
    background: red;
    animation-name: cube-movement;
    animation-duration: 2s;
    animation-play-state: inherit;
    animation-iteration-count: infinite;
}

#left-eye {
    position: absolute;
    width: 2px;
    height: 2px;
    left: 4px;
    right: 14px;
    top: 4px;
    background-color: white;
}

#right-eye {
    position: absolute;
    width: 2px;
    height: 2px;
    left: 14px;
    right: 4px;
    top: 4px;
    background-color: white;
}

#mouth {
    position: absolute;
    width: 12px;
    height: 2px;
    left: 4px;
    right: 4px;
    top: 14px;
    background-color: white;
}

@keyframes cube-movement {
    0%   {top: 180px;}
    7%   {top: 180px;}
    20%  {top: 110px;

    }

    30% {
        top: 180px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50%  {top: 180px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    57%  {top: 180px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    70%  {top: 110px;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    80%  {top: 180px;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {top: 180px;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 180px;
    right: 90px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid blue;
    animation-name: triangle-movement;
    animation-duration: 2s;
    animation-play-state: inherit;
    animation-iteration-count: infinite;
}

@keyframes triangle-movement {
    0%   {right: 90px;}

    50%  {right: 510px;}

    100% {right: 90px;}
}

#container:hover {
    animation-play-state: running;
}


